@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

select {
  appearance: none;
  /* Remove the default arrow in WebKit browsers */
  -webkit-appearance: none;
  /* Remove the default arrow in WebKit browsers */
  -moz-appearance: none;
  /* Remove the default arrow in Firefox */
}

div.aspect-mark-container::after {
  content: "▼";
  font-size: 0.5rem;
  top: 35%;
  right: 10px;
  position: absolute;
}